@import "mixins";
@import "custom-variables";
.services_header{
  text-align: center;
  margin-top: 110px;
  @include title_styles;
}
.services{
  margin-top:95px;
  .view-content{
    display: flex;
  }
  .views-row{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 25%;
    .views-field-title{
      font-size: 21px;
      text-transform: uppercase;
      word-spacing: 0.1px;
      letter-spacing: -0.8px;
      margin-top: 37px;
      padding-right: 5px;
    }
    .views-field-field-about-service{
      font-family: "lato", sans-serif;
      margin:9px auto 31.5px auto;
      text-transform: uppercase;
      font-size:13px;
      max-width: 280px;
      word-spacing: -1px;
      letter-spacing: -0.33px;
      line-height: 15px;
    }
    a{
      text-transform: uppercase;
      text-decoration: none;
      padding: 11px 10px 6px 10px;
      font-size: 13px;
      background:$light_blue;
      color:#fff;
      border:0.1px solid transparent;
      transition: 0.3s ease;
    }
    a:hover{
      border:0.1px solid #000;
      transition: 0.3s ease;
      background: transparent;
      color:#000;
    }
  }
  .views-row:nth-child(1){
    padding-right: 20px;
    .views-field-field-about-service{
      margin-bottom:32.25px;
      padding-right: 8px;
    }
    a{
      margin-right: 3px;
    }
  }
  .views-row:nth-child(2){
    padding-right:5px;
    a{
      margin-right: 3px;
      margin-top: -1px;
    }
  }
  .views-row:nth-child(3){
    padding-left:5px;
    .views-field-title{
      padding-left: 10px;
    }
    a{
      margin-left: 3px;
    }
  }
  .views-row:nth-child(4){
    padding-left:15px;
    .views-field-field-about-service{
      margin-bottom: 30px;
      line-height: 16px;
    }
    .views-field-title{
      padding-left: 10px;
      margin-top:35px;
    }
    a{
      margin-left: 7px;
    }
  }
}
.block-views-blockservices-block-2{
  .view-content{
    display: flex;
    flex-wrap: wrap;
    .views-row{
      text-align: center;
      margin-top: 30px;
      width: 50%;
      img{
        margin: 0 auto;

      }

      .views-field-link-to-revision{
        a{
          text-transform: uppercase;
          text-decoration: none;
          padding: 8px 10px 6px 10px;
          font-size: 13px;
          background:$light_blue;
          color:#fff;
          border:0.1px solid transparent;
          transition: 0.3s ease;

        }
        a:hover{
          border:0.1px solid #000;
          transition: 0.3s ease;
          background: transparent;
          color:#000;
        }
        margin-top: 20px;
      }
    }
  }
}

